<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Market</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/0e53af926d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--header section-->

    <header>
      <div id="header">
        <div class="header-logo">

          <a href="index.html"><img
              src="./assets/images/Color logo - 200px.png"
              alt=""
            /></a>
        </div>
        <div class="header-list">
          <nav class="header-list-nav">
            <ul>
              <li><a class="active" href="index.html">Home</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="blog.html">About</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </nav>
          <div class="header-list-icon">
            <a href=""><i class="fa fa-bag-shopping"></i></a>
          </div>
        </div>
      </div>
    </header>

    <!--footer section-->

    <footer>
      <div id="footer">
        <div class="contact">
          <a href="indext.html"><img
              src="./assets/images/Color logo - 200px.png"
              alt=""
            /></a>
          <br />
          <br />
          <br />
          <h3>Contact</h3>
          <address>
            <p><b>Address:Alamo Plaza, San Antonio, TX 78205 </b> </p>
            <p><b>Phone:</b> (210) 444-4444</p>
          </address>
          <h3>Follow Us</h3>
          <br />
          <div class="socials">
            <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </div>
        </div>
        <div class="about">
          <h3>About</h3>
          <br />
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Contact Us</a>
        </div>
        <div class="myaccount">
          <h3>My account</h3>
          <br />
          <a href="#">Sign In</a>
        </div>
      </div>
    </footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>